name: Master Autograder Workflow

on: 
    pull_request:
        branches:
            - main
    workflow_dispatch:

jobs:
    auto_grade:
        runs-on: ubuntu-latest
        env:
            GITHUB_TOKEN: ${{ secrets.CLASSROOM_GITHUB_TOKEN }}
            CLASSROOM_ID: ${{ vars.CLASSROOM_ID }}
            ASSIGNMENT_ID: ${{ vars.ASSIGNMENT_ID }}
        steps:
            - name: Install GitHub Classroom CLI  
              run: gh extension install github/gh-classroom

            - name: Install GitHub Classroom CLI  
              run: gh auth token

            - run: gh classroom assignments -c $ASSIGNMENT_ID


            