name: Master Autograder Workflow

on: 
    pull_request:
        branches:
            - main
    workflow_dispatch:

jobs:
    auto_grade:
        runs-on: ubuntu-latest
        env:
            GITHUB_TOKEN: ${{ secrets.CLASSROOM_GITHUB_TOKEN }}
            CLASSROOM_ID: ${{ vars.CLASSROOM_ID }}
            ASSIGNMENT_ID: ${{ vars.ASSIGNMENT_ID }}

        steps:
            - name: Install GitHub Classroom CLI  
              run: gh extension install github/gh-classroom

            - name: GitHub CLI authentication  
              run: gh auth status

            - name: Clone Evaluation Repo
              run: gh repo clone USC-DSCI-510/lab-1_evaluation -- -b 2-auto-grading-scripts-workflows

            # - name: Clone Assignments
            #   run: gh classroom clone student-repos -a $ASSIGNMENT_ID

            - name: Clone Test Assignments
              run: gh repo clone USC-DSCI-510/lab-1-akshaya999
            
            - name: Set Git Configuration
              run: |
                git config --global user.email "actions@github.com"
                git config --global user.name "GitHub Actions"

            - name: Copy Grading Files
              run: |
                  cd lab-1-akshaya999

                  git checkout -b auto-grader-test

                  cp ../lab-1_evaluation/.github/classroom/autograding.json ./.github/classroom/autograding.json
                  cp ../lab-1_evaluation/.github/workflows/classroom.yml ./.github/workflows/classroom.yml
                  cp ../lab-1_evaluation/test_functions.py .

                  git add .
                  git commit -m "Add testing and grading files"
                  git push https://$GITHUB_TOKEN@github.com/USC-DSCI-510/lab-1-akshaya999.git auto-grader-test

                  gh pr create --base main --head auto-grader-test --title "Auto Grader Bot" --body "Run the auto grading scripts"
                  
                  cd ..
              continue-on-error: true

            - name: Cleanup Cloned Repositories
              run: |
                rm -rf */
            